/* место для вашего кода */

/* Навигация */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 90px 50px;
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 33%;
}

.navigation-list-item {
    font-family: "Raleway", "Arial", sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-decoration: underline;
    text-underline-offset: 5px;
    margin: 0 0 0 13px;
}

.navigation-marker {
    width: 5px;
    height: 5px;
    background: white;
    border: 1px solid black;
    border-radius: 50%;
    margin-left: 13px;
}

.navigation-list-item:first-child {
    margin: 0;
    text-decoration: none;
}

.logo {
    width: 148px;
    height: 105px;
}

.navigation-contacts {
    display: flex;
    flex-direction: row-reverse;
    width: 33%;
}

.contacts-item {
    font-family: "Raleway", "Arial", sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-decoration: underline;
    text-underline-offset: 5px;
    margin: 4px;
}
.contacts-item:last-child {
    text-decoration: none;
}

/* Баннер */
.banner-base {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 757px;
    margin-top: 96px;
}

.banner-img {
    width: inherit;
    height: inherit;
    position: absolute;
}

.black-opacity-cover {
    position: absolute;
    width: inherit;
    height: inherit;
    background: black;
    opacity: 60%;
}

.banner-main-content {
    position: absolute;
    display: flex;
    width: inherit;
    flex-direction: column;
    gap: 0px;
}

.banner-main-content-item {
    display: flex;
    gap: 30px;
}

.banner-main-content-item:nth-child(1) {
    justify-content: start;
    padding-left: 50px;
}

.banner-main-content-item:nth-child(2) {
    justify-content: center;
    padding-right: 50px;
}

.banner-main-content-item:nth-child(3) {
    justify-content: end;
    padding-right: 50px;
    padding-bottom: 50px;
}

.banner-main-text-item {
    font-family: "Raleway", "Arial", sans-serif;
    font-size: 100px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    margin: 0;
}

.banner-main-content-item:first-child .banner-main-text-item:last-child {
    margin-left: 30px;
}
.banner-main-content-item:nth-child(2) .banner-main-text-item:last-child {
    margin-left: 30px;
}
.banner-main-content-item:nth-child(3) .banner-main-text-item:nth-child(2) {
    margin-left: 30px;
}

.banner-bottom-content {
    display: flex;
    justify-content: space-between;
    position: absolute;
    align-items: center;
    width: inherit;
    bottom: 50px;
}

.banner-bottom-content-text {
    display: inline-block;
    font-family: "Raleway", "Arial", sans-serif;
    font-size: 22px;
    font-weight: normal;
    color: white;
    text-transform: uppercase;
    word-spacing: 15px;
    margin: 0;
}

.bet-button {
    display: inline-block;
    width: 257px;
    border: 1px solid white;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    word-spacing: normal;
    margin: 0 50px;
}

.bet-button:first-child{
    opacity: 0;
}

/* Лоты */
.lots {
    margin: 180px 50px 0;
}

.lots-head-title {
    font-family: "Raleway", "Arial", sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    margin: 0 0 0 40px;
}

.lots-more-title {
    font-family: "Raleway", "Arial", sans-serif;
    font-size: 20px;
    font-weight: normal;
    text-transform: lowercase;
    text-decoration: underline;
    text-underline-offset: 5px;
    color: black;
    margin: 0 0 0 40px;
}

.lots-base {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px auto 20px;
}

.lot {
    position: relative;
    width: 430px;
    height: 450px;
}

.lot-img {
    position: absolute;
    width: inherit;
    height: inherit;
}

.lot-content {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    width: inherit;
    height: inherit;
}

.lot-title {
    font-family: "Raleway", "Arial", sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    text-decoration: underline;
    margin: 50px 40px 0px;
}

.lot-description {
    font-family: "Raleway", "Arial", sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: white;
    margin: 0px 40px 50px;
}

/* Описание */
.about-base {
    display: flex;
    justify-content: flex-start;
    margin: 190px 50px 0;
    margin-left: 150px;
}

.about-logo-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background: black;
    margin: 0 120px 0 0;
}

.about-text {
    width: 70%;
    margin: 60px 0 0 0;
}

.about-title {
    font-family: "Raleway", "Arial", sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    margin-bottom: 100px;
}

.about-description {
    font-family: "Raleway", "Arial", sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: black;
}

/* Футер */
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 150px 50px 0;
}

.navigation-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
}

.navigation-list-item-vertical {
    font-family: "Raleway", "Arial", sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-decoration: underline;
    text-underline-offset: 5px;
    margin: 0;
}

.navigation-list-item-vertical:first-child {
    margin: 0;
    text-decoration: none;
}

.navigation-contacts-footer {
    display: flex;
    flex-direction: row;
    width: 33%;
}

.social-networks {
    display: flex;
    width: 33%;
    flex-direction: row-reverse;
    gap: 48px;
    margin: 0;
}

.social-networks-item {
    width: 48px;
    height: 48px;
    margin: 0;
}